

:root {

    --clear: #FCFAF8;
    --cinza: #958C7B;
    --cinza-escuro: #3d3d3d;
    --bege: #b6916b;
    --bege-claro: #f1e5dd;
    --card: #E2DAD6; 
    --escuro: #373227;
    --green: #294B29;  
    
}

/* RESET */
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box; 
}

li {
    list-style: none;
  }
  
img {
    max-width: 100%;
}
  
a{
    text-decoration: none;
}

body{    
    background: var(--clear);     
    overflow-x: hidden;
    
}

p{    
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 0.9rem;
    text-align: start;
    color: var(--escuro);
    letter-spacing: 1px;   
}

.divider-v {
    width: 320px;
    border-width: thin;
    border-bottom: 1px solid var(--bege);
     
}

button{
    display: inline-block;
    padding: 12px 24px;   
    font-family: 'Montserrat';    
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 50px;
    text-decoration: none;
    transition: all 0.3s ease-in-out; 
    cursor: pointer;
}


/* NAV BAR */

header{
    position: relative;
    user-select: none;
    margin: .5rem .5rem;
}


.nav-ul{

    position: fixed;
    bottom: 60;
    left: 100%;
    padding-top: 50px;
    padding-bottom: 100px;

    background: var(--clear);
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    transition: 0.3s ease;
    text-transform: uppercase;
}

.nav-ul.active{
    left: 0;
    overflow: hidden;
    z-index: 3;
}

.nav-li {
    font-size: 1.7rem;
    font-family: 'Montserrat';
    font-weight: 400;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    color: var(--escuro);
}

.nav-li:hover {
    color: var(--bege);
    cursor: pointer;
}


.hamburger{
    cursor: pointer;
    display: block;
    position: absolute;
    top: 4em;
    transform: translateY(-50%);
    right: 2em;
    z-index: 4;
    user-select: none;
}

.hamburger.active {
    position: fixed;
    top: 4.5em;
    right: 2.5em;
}

.bar{
    display: block;
    width: 40px;
    height: 2px;
    margin: 5px auto;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
    background: var(--clear);
}

/* SECTIONS */
/* HOME */
.home{
    text-align: center;
    position: relative;
    width: 100%;
    height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;   
    
}
.home .home-container{
    position: relative;
    width: 100%;
    height: 100%;
    
}


.img-home{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter:brightness(60%);
    border-radius: 10px;
    
}

.title-home{    
    width: 100%;
    position: absolute;    
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 7rem;
    font-weight: 200;
    text-align: center;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    font-family: 'Mrs Saint Delafield';
    
}

.subtt-home{
    width: 100%;
    position: absolute;    
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    font-family: 'Montserrat';
}

.btn-home{

    width: 300px;
    position: absolute;    
    top: 74%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    border: 2px solid white;
    background-color: transparent;    
        
}

.btn-home:hover {
    background-color: rgba(255, 255, 255, 0.507);
    color: black;
    font-size: 0.95rem;
}

/* APRESENTATION */

.apresentation{
    text-align: center;
    margin: .5rem .5rem;
    
}

.txt-apresentation{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--card);
}

.tt-apresentation{
    padding: 1rem 1rem;
}


.tt-apresentation h1 {
    
    font-family: 'Xanh Mono';
    font-weight: 400;
    font-size: 2.5rem;    
    color: var(--escuro);
    margin: .5rem;
}

.tt-apresentation h2{
    
    width: 90%;
    font-family: 'Cousine' ;
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 1rem;
    color: var(--cinza);    
    margin: 1rem;
}


.p-apresentation p{
    margin: 3rem 2rem;
}


.jobs-apresentation h2 {
    text-align: center;
    font-family: 'Cousine' ;
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 1rem;
    color: var(--escuro);    
    margin: 4rem 1rem 0rem 1rem;
}

.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    margin: 2rem; 
}

.serv-title{
    width: 100%;
    font-size: 35px;
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 500;
    color: var(--cinza);
    margin: 1rem 1rem;    
    text-align: center;

}


.services img{
    width: 310px;
    height: 294px;
    object-fit: cover;
    margin-top: 2rem;
    margin-bottom: .5rem;
    
}


.nupcial h1,
.maternidade h1{
    font-size: 35px;
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 500;
    color: var(--cinza);
    margin: 1rem .5rem;    
    text-align: start;
    
}

.services p{
    width: 95%;
    margin: 0rem .5rem 2rem .5rem;
}

.btn-services {
    width: 290px;
    font-family: 'Cousine' ;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 0.9rem;
    border: 2px solid var(--cinza);
    background: var(--clear);
    color: var(--cinza-escuro);
}

.btn-services:hover {
    background-color: var(--bege-claro);
    font-size: .89rem;
}


.about{
    text-align: center;
    margin: 4rem .5rem 1rem .5rem;
}

.tt-about h1{
    font-family: 'Xanh Mono';
    font-weight: 400;
    font-size: 2.5rem;    
    color: var(--escuro);
    margin: .5rem;
}

.tt-about h2 {
    
    font-family: 'Cousine' ;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 1rem;
    color: var(--cinza); 
    margin: 0rem 2rem 2.5rem 2rem 
    
}

.tt-about p{
    margin: 0rem 2rem 2.5rem 2rem !important; 
}

.tt-about img{
    width: 325px;
    height: 350px;
    object-fit: cover;
    margin-top: 1tem fotorem;
    margin-bottom: 2rem;
}

/* INVITE */


.invite{
    text-align: center;
    position: relative;
    width: 100%;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;      
}

.invite-container{
    position: relative;
    width: 100%;
    height: 100%;
    margin: .5rem .5rem;
    
}

.img-back{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter:brightness(60%);  
       
}

.invite-container h1{    
    width: 98%;
    position: absolute;    
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.1rem;
    font-weight: 100;
    text-align: center;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    font-family: 'Playfair Display';     
}
.invite-container h1 i{
    font-family: 'Playfair Display';
    font-style: italic;  
}

.btn-invite{

    width: 265px;
    position: absolute;    
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    border: 2px solid white;
    background-color: transparent;    
    transition: 0.2s;
        
}

.btn-invite:hover {
    background-color: rgba(255, 255, 255, 0.493);
    color: black;
    font-size: 0.95rem;
}

.socialmedia{
    text-align: center;
    width: 100%;
    height: 7vh;
    background-color: var(--card);
}
.socialmedia h2{   
    
    font-weight: 400;
    font-size: 1.5rem;    
    color: var(--escuro);
    margin: 1rem;
    padding: .5rem;
}

.footer-container p{
    padding: 1rem;
    text-align: center;
    font-size: 12px;
}







/* MEDIA QUERY */

@media (min-width: 900px) {

    /* NAVBAR */

    header{
        
        margin: .5rem
    }
    
    .nav-container {
        max-width: 100em;
        width: 100%;
        
    }

    .hamburger{
        display: none;
    }
        
    .nav-ul{      
        position: absolute;
        width: 10px;
        height: 2px;
        top: 1rem;
        left: 39%;
        z-index: 1;
        
        background-color: transparent;
        flex-direction: row;   
        gap: 35px;
            
    }
    
    .nav-li{
       
        font-size: 1rem;        
        font-weight: 400;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        color: white;       
    }
     
    .btn-home{

        width: 300px;
        position: absolute;    
        top: 12.5%;
        left: 83%;          
            
    }
    
    .title-home{    
           
        top: 55%;   
        font-size: 11rem;
        font-weight: 200;     
      
        
    }
    
    .subtt-home{         
        top: 75%;       
    }



    .txt-apresentation{
        height: 75vh;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .p-apresentation{
        width: 491px;
        
    }

    .divider-v{
        width: 0%;
        height: 237px;
        border-right: 1px solid var(--bege);
        
    }

    .tt-apresentation h1{
        width: 500px;
        font-size: 3rem;
        text-align: start;   

    }

    .tt-apresentation h2{
        
        text-align: start; 
        margin: 1rem 10px;

    }   

   
    .nupcial{
        display: flex;
        justify-content: center;
        align-items: center;
         
    }
    
    .maternidade{
        display: flex;
        justify-content: center;
        align-items: center;    
    
    }   

    
    .services img{
        width: 279px;
        height: 264px;
        object-fit: cover;
        margin-top: 2rem;
        margin-bottom: .5rem;
        
    }
    .services h1{
        margin: 1rem 1.4rem;
    }
    .services p{
        margin: 1rem 1.4rem;
    }

    .services .divider-v {
        margin-top: 2rem;
        height: 430px;
    }

    .btn-services{
        margin-top: 2rem;
        margin-bottom: 4rem;
    }
    .about-container{
        position: relative;
        width: 95vw;
        height: 90vh;
        margin: 7rem 1rem;
    }

    .tt-about img{
        width: 370px;
        height: 565px;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 20%;
        top: 50%;         
    }

    .tt-about h1{
        width: 100%;
        font-size: 5rem;
        z-index: 10;
        position: absolute;
        left: 48%;
        top: 10%; 
        transform: translate(-50%, -50%);       

    }

    .text-about{
        width: 400px;
        height: 294px;
        z-index: 10;
        position: absolute;
        left: 57%;
        top: 50%; 
        transform: translate(-50%, -50%); 
    }
    .text-about h2{
        width: 90%;
        text-align: start;
    }
    .text-about p{
        width: 90%;
        text-align: start;
    }

    .invite{
        
        height: 70vh;
    }    

    .invite-container h1{
        top: 55%;
        left: 57%;
        text-align: start;
        font-size: 4rem;

    }

    .btn-invite{
        left: 19%;
        
    }
}